
<div class="for1">
  <span *ngFor="let stu of students; index as i" class="students_1">

    {{i+1}}. student name is: {{stu.name}}, mark: {{stu.mark}},status:
    @if(stu.mark>=50){<span class="passed">Passed</span>} @else{<span
      class="failed">Failed</span>} <br>

  </span>
</div>
<!-- structural Directives: ngIf, ngFor, ngSwicth -->
<!-- attribute Directives ngClass, ngStyle, ngModel -->
<br><br>
<!-- Another way -->
<div class="for2">
  @for(stu of students; track stu.id; let i = $index){

  <span class="students_1">
    {{i+1}}. student name is: {{stu.name}}, mark: {{stu.mark}}<br>
  </span>

  }
</div>